.filters-container {
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.search-input, .type-select {
    padding: 8px;
    border: 1px solid #d4d0d7;
    border-radius: 4px;
    font-size: 16px;
}

.search-input {
    width: 200px;
}

.type-select {
    min-width: 150px;
}

.search-input::-webkit-search-cancel-button {
  appearance: none;
  -webkit-appearance: none;
  background: transparent !important;
  border: none !important;
  color: inherit !important;
  cursor: pointer;
  filter: none !important;
  box-shadow: none !important;
  outline: none !important;
} 